@import "src/theme/variables";

.externalLink {
  @include link-styles {
    color: $secondary-color;
  }
}

.scCallName {
  font-size: 0.9em;
  border-radius: $radius-medium;
  padding: 2px $spacing-extra-small;

  background: $primary-color;
  color: $text-color-on-primary;
}
