/** Neutral **/
$neutral-color: #282C35;

/** Branding **/
$primary-color: #367CFF;
$text-color-on-primary: #fff;

$secondary-color: #e1a200;
$text-on-secondary: #17171E;

/** Reinforce meaning **/
$info-color: #18A4FF;
$error-color: #EB6D61;
$success-color: #1EC456;
$warning-color: #FEB050;
