/* Font family, sizes and weights */
$main-font-family: "Nunito Sans", sans-serif;

$font-size-extra-small: 8px;
$font-size-small: 12px;
$font-size-base: 14px;
$font-size-medium: 24px;
$font-size-large: 32px;
$font-size-extra-large: 64px;
