@import "src/theme/variables";

.container {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;

  z-index: 1000;

  background: get-themed-color(overlay-color);

  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  width: 500px;
  overflow: hidden;
  border-radius: $radius-small;
  background: get-themed-color(body-color);
  border: 1px solid get-themed-color(border-color);

  @include media-max($breakpoint-extra-small) {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}

.list {
  height: 400px;
  display: flex;
  flex-direction: column;
  gap: 0;

  @include media-max($breakpoint-extra-small) {
    height: 100dvh;
  }

  overflow-x: auto;
}

.inputContainer {
  display: flex;
  flex-direction: column;

  gap: $spacing-small;
  padding-block: $spacing-medium;
  padding-inline: $spacing-normal;

  .icon {
    cursor: pointer;
    font-size: 1.5em;
    align-self: flex-end;
    color: get-themed-color(text-color);
  }
}

.emptyContainer {
  flex: 1;
  display: flex;
  justify-content: center;

  text-align: center;
  color: get-themed-color(disabled-color);
}
