$light-theme: (
  text-color: #969696,
  title-text-color: #E7E9EA,

  body-color: #17171E,
  accent-color: #14141A,
  container-color: #292931,

  border-color: #39404A,
  disabled-color: #4f4e4e,
  highlight-color: #3f3e3e,

  shadow-color: #101010,
  overlay-color: rgba(50, 50, 50, 0.5),
);
